/*------------------------------------------------------------------------------*/
/*BASIC SETUP */
/*------------------------------------------------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing :border-box;
}
html,body{
    background:#fff;
    color:#555;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    font-size:20px;
    text-rendering:optimizeLegibility;
    overflow-x: hidden;
}
.clearfix{zoom:1}
.clearfix:after {
    content:'_';
    clear:both;
    height:0;
    visibility: hidden;
}
/*------------------------------------------------------------------------------*/
/*REUSABLE  CONTENT */
/*------------------------------------------------------------------------------*/

.row{
    max-width:1140px;
    margin:0 auto 0 auto;
    margin:0 auto;
}

section{
    padding:80px 0px;
}

.box{
    padding:1%;
}
/*------------------------------------------------------------------------------*/
/*HEADINGS */
/*------------------------------------------------------------------------------*/


h1,h2,h3{ 
    font-weight:500;
    text-transform:full-width;
    letter-spacing: 1px;
   
    
}
h1{
    margin-top:0;
    margin-bottom:20px;
    margin:0;
    color:aliceblue;
    font-size:250%;
    word-spacing:3px;
    
}
h2{
    font-size:180%;
    word-spacing:2px;
    text-align:center;
    margin-bottom:30px;
}
h3{  
    font-size:110%;
    margin-bottom:15px; 
}
h2:after{
    display:block;
    height: 2px;
    background-color:rgba(103, 102, 165, 0.58);
    content: " ";
    width:100px;
    margin:0 auto;
    margin-top:30px;
    text-transform: uppercase;
    
}

/*----------------PARAGRAPH-----------------------------*/


.long-way{
    line-height:145%;
    text-align: center;
    width:70%;
    margin-left:15%;
    
}
.box p{
    font-size:100%;
    line-height:120%;
}

/*------------------------------------------------------------------------------*/
/*BUTTONS */
/*------------------------------------------------------------------------------*/
.btn:link,
.btn:visited,
input[type=submit]{
    display:inline-block;
    padding: 10px 30px;
    font-weight:500;
    text-decoration: none;
    border-radius:200px;
    color:#0fe0c8;
}


.btn-full:link,
.btn-full:visited{
    background-color: rgba(197, 166, 247, 0.58);
    border:1px solid #f8f3f3;
}

.btn-ghost:link,
.btn-ghost:visited{
    border:1px solid #f8f3f3;
    color:#b884ff;
    transition:background-color 0.2s, border 0.2s;
}

.btn:hover,
.btn:active,input[type=submit]{
    background-color: rgba(73, 72, 121, 0.87);
}
.btn-full:hover,
.btn-full:active{
    
    border:1px solid ;
    color:#ffffff;
    
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: rgba(103, 102, 165, 0.58);
    border:1px solid rgba(40, 40, 126, 0.66);
    color:#fff;
}
.btn-premium:link,
.btn-premium:visited{
    color:white;
    background-color:gold;
}

.btn-premium:hover,
.btn-premium:active{
    color:gold;
    background-color:aliceblue;
    border-color: gold;
}
.btn-plans:hover,
.btn-plans:active,
input[type=submit]{
    color:gold;
    background-color:aliceblue;
    border-color: aquamarine;
}

.btn-plans:link,
.btn-plans:visited{
    background-color:white;
    color:gold;
    border:1px solid gold;
}





/*------------------------------------------------------------------------------*/
/*HEADER */
/*------------------------------------------------------------------------------*/

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(images/starry_sky_shine.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%; 
    transform:translate(-50%, -50%);
}
.logo{
    height:100px;
    width:auto;
    float:left;
}


.sec1img{
    height:180px;
    width:100%;
    
}


/*------------------------------------------------------------------------------*/
/*----------------Main  NAVIGATIONS---------------*/
/*------------------------------------------------------------------------------*/


.main-nav{
    float:right;
    list-style:none;
    margin-top:18px;
   
    
}
.main-nav li{
    display:inline-block;
    margin-left:40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color:white;
    padding:5px 0;
    text-decoration:none;
    text-transform:full-width;
    font-size:90%;
    transition:border-bottom 0.2px;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:3px solid rgba(120, 199, 234, 0.94);
    transition:border-top 0.5px;
}
/*------------------------------------------------------------------------------*/
/***STICKY NAVIGATION            ***/
/*------------------------------------------------------------------------------*/

.sticky{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    color:aliceblue;
    background-color: white ;
    box-shadow: 0 2px 2px #d3d3d3;
    
    
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    
    color:darkslategrey;
    padding:1px 0;
    
}
.sticky .logo{
        display: none;
 }

.sticky .logo-black{height:65px;
    width:auto;
    float:left;display: block;}


/*------------------------------------------------------------------------------*/
/*PORTFOLIO */
/*------------------------------------------------------------------------------*/


.section-features .long-copy{
    margin-bottom: 30px;
}

/*------------------------------------------------------------------------------*/
/*PORTFOLIO */
/*------------------------------------------------------------------------------*/
.section-meals{
    padding:0px;
}
.meals-showcase{
    list-style:none;
    width:100%;
    
}
.meals-showcase li{
    float:left;
    width:25%;
    
}
.meal-photo{
    width:338px;
    margin:0px;
    overflow:hidden;
    background-color: #000;
}
.meal-photo img{
    opacity: 0.7;
    width:338px;
    height:250px;
    float:0px;
    transform:scale(1.15);
    transition:transform 0.5s, opacity 0.5s;
    
}
.meal-photo img:hover{
    opacity: 1;
    transform:scale(1.03);
}

/*------------------------------------------------------------------------------*/
/*     SECTION - STEPS */
/*------------------------------------------------------------------------------*/
.section-steps{
    background-color: aliceblue;
    padding:-2px;
    margin:-16px;
}

.steps-box{
    margin-top:30px;
    
}
.steps-box:first-child{
    text-align:center;
    padding-left:3%;
   
}
.steps-box:last-child{
    margin-top:30px;
    padding-left: 3%;
    
}

.app-screen{
    height:auto;
    width:250px;
    display: inline-grid;
    
}
.works-step{
    margin-bottom:100px;
    position:relative;
    text-align:left;
    bottom:px;
    left:67px;
    vertical-align:middle;
    
    
}
.works-step div{
    color:solid rgba(136, 132, 234, 0.94);
    border:2px solid rgba(136, 132, 234, 0.94);
    display:block;
    border-radius:70%;
    height:50px;
    width:50px;
    text-align:center;
    padding:0px;
    float:inherit;
    font-size:150%;
    margin-right:1px;
    vertical-align: middle;
}
.btn-app img{
    height:50px;
    width:150px;
    margin-right:10px;
}
.only-for-grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
.btn-app:link,
 btn-app:visited {
border:0;
}
/*------------------------------------------------------------------------------*/
/*CITIES */
/*------------------------------------------------------------------------------*/


.box img{
    width:100%;
    height:200px;
    margin-bottom:15px;
}
.city-features{
    margin-bottom: 5px;
}
/*------------------------------------------------------------------------------*/
/*ICONS */
/*------------------------------------------------------------------------------*/

.icon-small {
    display:inline-block;
    width:30px;
    text-align:center;
    color:rgba(136, 132, 234, 0.94);
    font-size: 120%; 
    margin-right:10px;
    
    /*----------Secret-------------*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/*------------------------------------------------------------------------------*/
/*LINKS */
/*------------------------------------------------------------------------------*/

a:link,
a:visited {
    color: #926cb5;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #bb47ef;
    transition:border-bottom 0.3s, color 0.3s;
}
a:hover,
a:active {
    color:#e6e62d;
    border-bottom:1px solid transparent;
}


/*------------------------------------------------------------------------------*/
/*     TESTIMONIALS   */
/*------------------------------------------------------------------------------*/
.section-testimonials{
    margin-top: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.97),rgba(92, 14, 14, 0.38)),url(images/universe1.jpg);
    background-size:cover;
    color : #fff;
    background-attachment: fixed;
}

blockquote{
    padding:2%;
    font-style:italic;
    line-height:145%;
}

cite{
    
    font-size:90%;
    margin-top:25px;
    display: block;
}

blockquote:before{
    content:"\201C";
    font-size: 400%;
    display: block;
    position: relative;
    top: 15px;
    left:-20px;
}

cite img{
    height:60px;
    border-radius:50%;
    margin-right:10px;
    vertical-align: middle;
    
}
/*------------------------------------------------------------------------------*/
//// *****  PLANS *//////
/*------------------------------------------------------------------------------*/

.section-plans{ 
    background-color: red;
}

.plan-box {
    background-color: #fff;
    border-radius:5px;
    width:90%;
    margin-left:5%;
    margin-bottom:10%;
    box-shadow: 0 20px 20px #e8e8e8;
}

.plan-box div{
    padding:15px;
    border-bottom:0.5px solid rgb(234, 218, 248);
    
}
.plan-box div:first-child{
    background-color:#f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.plan-box div:last-child{
    text-align: center;
    border:0 px;
}

.plan-price {
    font-size:300%;
    margin-bottom:10px;
    font-weight:100;
    color:blueviolet;
}

.plan-price span{
     font-size:30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size:80%;
} 
.plan-box ul{
    list-style: none;
    margin-bottom: 1px;
    
}
.plan-box ul li {
    padding: 15px 0;
}



/*------------------------------------------------------------------------------*/
/ *  FORMS */
/*------------------------------------------------------------------------------*/


contact-form{
    width: 60%;
    height: 20%;
    margin: 0 0 0 0;
    text-align: center;
    text-decoration: inherit;
    
}

input[type=text],
input[type=email],
select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border : 1px solid #ccc;
}

.row news{
    text-decoration-style: dashed;
    text-align: left;
}

input[type=checkbox]{
    margin::10px 5px 10px 0;
}

*:focus{outline: none;}

/*------------------------------------------------------------------------------*/
/* FOOTER */
/*------------------------------------------------------------------------------*/

footer{
    background: #03031a;  
    padding: 20px;
}

.footer-nav{
    list-style: none;
    float: left;
}

.footer-nav li{
    display: inline-block;
    margin-left: 20px;
}

.social-links {
   
   float: right;
    list-style: none;
   
}
.social-links li {
   
  
    display: inline-block;
   margin: 5px;
   
}

.social-links li:last-child,
.footer-nav li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visted{
    text-decoration: underline;
    border: 0px;
    color: aqua;
}
 
footer p{
    margin-top:30px;
    color: aqua;
    text-align: center;
    font-size:20px;
}

.ion-social-facebook,
.ion-social-googleplus,
.ion-social-instagram,
.ion-social-twitter{
    transition: 0.5s;
}

.ion-social-facebook:hover{color: #3b5998;}
.ion-social-googleplus:hover{color: red;}
.ion-social-instagram:hover{color: mediumvioletred;}
.ion-social-twitter:hover{color: lightblue;}













